footer {
  margin: 45px 0px 10px 20px;
}
ul {
  list-style: none;
}
table .container {
  width: auto;
}
.form_field .container {
  margin-left: 10px;
}
#title {
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 0px;
}
